security:
  oauth2:
    client:
      client-id: oh-client
      client-secret: oh-secret
      authorized-grant-types: authorization_code,refresh_token,password
      scope: read,write
      access-token-validity-seconds: 36000
    resource:
      jwt:
        key-pair:
          alias: jwt-oh
          store-password: jwtohpassword
          path: "jwt-oh.jks"


spring:
  security:
    user:
      name: admin
      password: test

logging:
  level:
    root: debug

